.responsive {
    height: 400px;
}
.Banner.Image {
    background-color: #f4f4f4;
    display: block;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
}
.Image {
    max-width: 100%;
}
.Banner.Image .container {
   position: absolute;
   text-align: left;
   top: 150px;
   left: 50px;
}
.btn {
    background-color: #f4f4f4;
    color: red;
    max-width: 100%;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid red;
  }
  .btn:hover {
    background-color: red;
    color: white;
    transition: 0.5s ease-in-out;
  }
.Banner.Content {
    text-align: center;
    margin-top: 50px;
}
.Banner.Content p {
    color: rgb(117, 115, 115);
    font-weight: lighter;
    font-size: 1.25rem;
}
.card {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 1.25rem;
    text-align: left;
    margin: 1rem;
}
.card:hover {
    border: 1px solid red;
    color: red;
}
.card:hover p {
    color: red;
}
a.links {
    display: block;
    text-decoration: none;
    color: black;
}
