.card_inner {
    border: 1px solid #d6d6d6;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
}
.text_muted {
    text-decoration: line-through;
    color: gray;
}
.strong {
    font-weight: bold;
}
.star {
    color: gold;
    font-size: 300%;
}
.image {
    border-radius: 20px;
    max-width: 100%;
}
.btn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f4f3f3;
    color: #f23e36;
    background-color: #f4f3f3;
}
.btn:hover {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f4f3f3;
    color: white;
    background-color: #f23e36;
}
.price_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5px;
}
.price {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
}
