.container.main {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
}
.btn {
  background-color: white;
  color: red;
  max-width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid red;
}
.btn:hover {
  background-color: red;
  color: white;
  transition: 0.5s ease-in-out;
}
.col nav {
  background-color: white;
}
.hr {
  border: 1px solid gray;
}
.container.one {
  background-color: peachpuff;
  border-radius: 32px;
}
.card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
.content, .contentMain  {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  height: 3rem;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin: 1rem;
}
.content:hover, .contentMain {
  height: 8rem;
  border: 1px solid rgb(55, 0, 255);
}
.container.outer {
  display: flex;
  justify-content: space-between;
}
.container.progress {
  background-color: #eaeaea;
  height: 10px;
  width: 100%;
  margin: 20px;
  border-radius: 32px;
  display: inline-block;
}
.container.bar {
  width: 80%;
  height: 10px;
  background-color: rgb(55, 0, 255);
  border-radius: 32px;
  color: white;
  text-align: center;
}
.container.outer .btn {
  background-color:  #eaeaea;
  color: red;
  width: 50%;
  border-radius: 4px;
  margin: 10px;
  font-size:x-small;
  border: 1px solid red;
}
.container.outer .btn:hover {
  background-color: red;
  color: white;
  transition: 0.5s ease-in-out;
}

.container p {
  font-size: small;
  margin-top: -10px;
}
.card p {
  font-size: small;
  padding-top: 5px;
}
.Progress_icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(55, 0, 255);
  float: right;
}
