.container.notification {
  background-color: #303030;
  color: white;
  font-size: 12px;
}
.container.child {
  text-align: center;
  padding: 10px;
}
.container_navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}
.btn {
  background-color: #303030;
  color: red;
  max-width: 100%;
  font-size: 10px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid red;
}
.btn:hover {
  background-color: red;
  color: white;
  transition: 0.5s ease-in-out;
}
.close {
  display: inline-block;
  color: white;
}
.logo {
  margin-right: 50px;
  display: inline-block;
}
.cart {
  margin: 10px;
}
